@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  /* background-image: url("./components/picture/Home/5570215.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover; */
}
